ul.tab-nav-container {
  padding: 0;
  list-style-type: none;
}

/* Tab Nav #1 */
.tab-icon-door {
  width: 2.8125rem;
  height: 2.8125rem; 
  fill: var(--main-grey);
}

/* Media tab nav #1 */
@media( max-width: 900px) {
  .tab-icon-door {
    width: 2.4rem;
    height: 2.4rem;
  }
  .tab-icon-devices {
    width: 8rem !important;
    height: 8rem !important;
  }
  .tab-icon-price-tag {
    width: 8rem;
    height: 8rem;
  }
}


/* Tab Nav #2 */
.tab-icon-devices {
  width: 9.687rem;
  height: 9.687rem;
  fill: var(--main-grey);
}

/* Tab Nav #2 */
.tab-icon-price-tag {
  width: 2.4rem;
  height: 2.4rem;
  fill: var(--main-grey);
}

/* Tabs */
.tabs {
  padding-top: 1rem;
}

.tab-nav-container {
  display: grid;
  justify-content: center;
  align-content: center;
  text-align: center;
  grid-template-columns: repeat(3,1fr);
  gap: 1rem;
  color: var(--main-grey);
  margin: 0 12%;
}
/* Tabs Nav Hover Effect */
ul li:not(.active):hover{
  color: #fff;
  cursor: pointer;
}

ul li:hover svg path{
  fill: #fff;
}

/* The Active Tab */
.active {
  border-bottom: 4px solid var(--main-red);
}

li.active{
  color: #fff;
  cursor: default;
}

li.active svg path {
  fill: #fff;
}

/* Media for tabs nav */
@media(min-width: 900px) {
  .mdScreen {
    display: none;
  }
}

@media(max-width: 900px) {
  .lgScreen {
    display: none;
  }

  .mdScreen {
    display: block;
    margin-bottom: 0.4rem;
  }
}